<!DOCTYPE html>
<html lang="it">
    <head>
        <title>Ricette - {{ categoria }}</title>
        <meta charset="UTF-8>"
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="paste">Ricette della categoria: {{ categoria }}</div>
        <div>
            {% for ricetta in ricette %}
            <div>                
                <!--<img src="{{ url_for('static', filename='db_Ricette/' + categoria + '/' + ricetta['image']) }}">-->
                <!--<img src="{{ url_for('static', filename=ricetta['image'][len('static/'):] ) }}">-->
                <img src="{{ url_for('static', filename=ricetta['image']) }}" alt="Ricetta" width="200">                
                <p>{{ ricetta['description'] }}</p>
            </div>
            {% endfor %}
        </div>
        <br>
        <a href="/">Torna alla pagina principale</a>
    </body>
</html>