<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dettaglio ricetta</title>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
        background-image: url("{{ url_for('static', filename=image) }}");
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;            
        }
    </style>
</head>
<body>
    
</body>
</html>