{% extends "font_login.html" %}

{% block title %}Register{% endblock %}

{% block form_title %}Register Here{% endblock %}

{% block form_content %}
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Scegli un username" id="username">

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Scegli una password" id="password">

    <p>Hai già un account? <a href="{{ url_for('login') }}" style="color: blue;">Fai il login</a></p><br><br>
    <a href="/">Torna alla pagina principale</a>

    <button>Submit</button>
    <div class="social">
      <div class="go"><i class="fab fa-google"></i>  Google</div>
      <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div>
{% endblock %}


