<!DOCTYPE html>
<html lang="en">
<head><!--questo serve per commentare in css come ****** in python e come /**/ in JavaScript , per commentare solo una riga in css uguale
    in python # in JavaScript //-->    
    <title>Se Poate De Mancat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="30">
    <meta name="keywords" content="kitchen, food, cake, sweety">
    <meta name="description" content="here we made, learn and taste good and healthy food"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="static/css/style.css">    
</head>
<body>        
    <div class="container">
        <img class="logo" src="static/logo_adesivo_SePoateDeMancat.jpg" alt="logo_Se_Poate_De_Mancat">
        <div class="btn-container">
            <button class="btn" id="runButton1">Elenco Ricette</button>
            <button class="btn" onclick="location.href='/categoria/entree'">Entree</button>
            <button class="btn" onclick="location.href='/categoria/primi'">Primi Piatti</button>
            <button class="btn" onclick="location.href='/categoria/pasta'">Paste</button>
            <button class="btn" onclick="location.href='/categoria/risotti'">Risotti</button>
            <button class="btn" onclick="location.href='/categoria/secondi'">Secondi Piatti</button>
            <button class="btn" onclick="location.href='/categoria/streetFood'">Street Food</button>
            <button class="btn" onclick="location.href='/categoria/pizza'">Pizza</button>
            <button class="btn" id="runButton0">Esegui Script</button>
            <button class="btn" id="runButton">Aggiungi la tua ricetta</button>           
            <button class="btn" id="runButton3">Apporto Calorico</button>            
            <button class="btn" id="runButton2">Vuoto</button>                    
        </div>
    </div> 
    <div class="container1">
        <div class="social-media">
            <a href="https://www.instagram.com/sepoatedemincat" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/eugenio.travisi.5" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
        </div>
        <div class="search-container">
            <label for="search-input" class="sr-only">Cerca ricetta</label>
            <input type="text" id="search-input" placeholder="Cerca" aria-label="Cerca-ricetta"/>
            <button id="search-button" type="button">Search</button>
            <button id="elimina-button" type="button">Delete</button>
            <a href="{{url_for('login')}}" class="loginButton">Login Page</a>    
            <a href="{{url_for('register')}}" class="registerButton">Register Page</a>                    
        </div>        
    </div>    
    <script type="text/javascript" src="static/js/script.js"></script>
</body>
</html>



